:root {
  --font-main: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 400;

  transition: color 420ms ease-in;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[theme="light"] {
  --primary-color: rgb(0, 84, 84);
  --primary-color-opacity: rgba(0, 200, 218, 0.54);
  --secondary-color: rgb(0, 225, 255);
  --off-color: #e2e2e2;
  --on-color: #cacaca;
  --text-color: #121212;
}

:root[theme="dark"] {
  --primary-color: aqua;
  --primary-color-opacity: rgba(0, 255, 255, 0.4);
  --secondary-color: black;
  --off-color: #121212;
  --on-color: #1a1a1a;
  --text-color: #efefef;
}
